name: build

on: [push, pull_request]

jobs:
  run:
    name: Run unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [windows,macos,ubuntu]
        include:
          - build: macos
            os: macos-latest
          - build: ubuntu
            os: ubuntu-latest
          - build: windows
            os: windows-latest
        python-version: ["3.8","3.9","3.10"]
    steps:
    - uses: actions/checkout@master
    - name: Setup Python  
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install dependencies
      run: |
        pip install setuptools==65.5.1 
        pip3 install ".[all]"
        
    - name: Generate coverage report
      run: pytest -vs test --cov-report xml --cov BDMLtools
        
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        env_vars: OS,PYTHON
        files: coverage.xml
        flags: unittests
        name: codecov-umbrella